.subscribe-block__input { color: $regular_text_color; }

.widget-subscribe{
    background: $regular_accent_color_1;
}

.widget-subscribe .subscribe-block__submit.btn,
.widget-subscribe .invert .btn{
    background: $regular_text_color;
}

.widget-subscribe .subscribe-block__submit.btn:hover,
.widget-subscribe .invert .btn:hover{
    background:$regular_link_hover_color;
}

.follow-block + .subscribe-block {
    border-color:  @alpha($regular_text_color, 20);
}