/* #Button Appearance Styles (regular scheme) */
.btn-default,
.btn-primary,
.btn-secondary,
.btn-default:hover,
.btn-primary:hover,
.btn-secondary:hover {
	color: $invert_link_color;
}
.btn-default {
	background-color: $regular_link_color;
	border-color: $regular_link_color;
}
.btn-default:hover {
	background-color: $regular_link_hover_color;
	border-color: $regular_link_hover_color;
}
.btn-default:focus {
	box-shadow: 0 0 10px $regular_link_color;_butt
}
.site-main .btn,
.btn{
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.btn:hover,
.btn:active {
	color: $regular_accent_color_1;
	background-color: $regular_h3_color;
	border-color: $regular_h3_color;
}
.btn-primary {
}
#page #tm_builder_outer_content .tm_pb_button:focus,
#page #tm_builder_outer_content .tm_pb_button:active,
#page #tm_builder_outer_content .tm_pb_button:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	color: #fff;
	box-shadow: 0 0 16px @alpha( $regular_accent_color_1, 80 );
}
#page #tm_builder_outer_content .tm_pb_button:focus,
.btn-primary:focus {
	box-shadow: 0 0 0px $regular_accent_color_1;
}
.site-main .btn-secondary,
.btn-secondary {
	color: $regular_accent_color_1;
	background: none;
	border: none;
	padding: 0;
	font-size: 13px;
	font-family: @font_family( $h3_font_family );
}
.btn-secondary:focus,
.btn-secondary:hover {
	color: $regular_h3_color;
	background: none;
}


.btn-third {
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}
.btn-third:hover {
	background-color: @darken( $regular_accent_color_2, 10% );
	border-color: @darken( $regular_accent_color_2, 10% );
}
.btn-third:focus {
	box-shadow: 0 0 10px $regular_accent_color_2;
}

/* #Button Appearance Styles (invert scheme) */
.invert .btn-default {
	color: $regular_link_color;
	background-color: $invert_link_color;
	border-color: $invert_link_color;
}
.invert .btn-default:hover {
	color: $regular_link_color;
	background-color: $invert_link_hover_color;
	border-color: $invert_link_hover_color;
}
.invert .btn-default:focus {
	box-shadow: 0 0 10px $invert_link_color;
}

.invert .btn-secondary {
	color: $regular_link_color;
	background-color: $invert_accent_color_2;
	border-color: $invert_accent_color_2;
}
.invert .btn-secondary:hover {
	color: $regular_link_color;
	background-color: @darken( $invert_accent_color_2, 10% );
	border-color: @darken( $invert_accent_color_2, 10% );
}
.invert .btn-secondary:focus {
	box-shadow: 0 0 10px $invert_accent_color_2;
}


.invert-btn .btn:hover,
.invert-btn .tm_pb_button:hover {
	color: $regular_accent_color_1 !important;
	background: $invert_h3_color !important;
}