/* #Button Appearance Styles (regular scheme) */
.btn-default,
.btn-primary,
.btn-secondary,
.btn-default:hover,
.btn-primary:hover,
.btn-secondary:hover {
	color: $invert_link_color;
}
.btn-default {
	background-color: $regular_link_color;
	border-color: $regular_link_color;
}
.btn-default:hover {
	background-color: $regular_link_hover_color;
	border-color: $regular_link_hover_color;
}
.btn-default:focus {
	box-shadow: 0 0 10px $regular_link_color;_butt
}
.btn{
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.btn:hover,
.btn:active {
	color: $regular_accent_color_1;
	background-color: $regular_h3_color;
	border-color: $regular_h3_color;
}
.btn-primary {
}
.btn-primary:hover {
	background-color: $regular_h3_color;
	border-color: $regular_h3_color;
}
.btn-primary:focus {
	box-shadow: 0 0 0px $regular_accent_color_1;
}
.btn-secondary {
	color: $regular_accent_color_1;
	background: none;
	border: none;
	padding: 0;
}
.btn-secondary:focus,
.btn-secondary:hover {
	color: $regular_h3_color;
	background: none;
}


.btn-third {
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}
.btn-third:hover {
	background-color: @darken( $regular_accent_color_2, 10% );
	border-color: @darken( $regular_accent_color_2, 10% );
}
.btn-third:focus {
	box-shadow: 0 0 10px $regular_accent_color_2;
}

/* #Button Appearance Styles (invert scheme) */
.invert .btn-default {
	color: $regular_link_color;
	background-color: $invert_link_color;
	border-color: $invert_link_color;
}
.invert .btn-default:hover {
	color: $regular_link_color;
	background-color: $invert_link_hover_color;
	border-color: $invert_link_hover_color;
}
.invert .btn-default:focus {
	box-shadow: 0 0 10px $invert_link_color;
}

.invert .btn-secondary {
	color: $regular_link_color;
	background-color: $invert_accent_color_2;
	border-color: $invert_accent_color_2;
}
.invert .btn-secondary:hover {
	color: $regular_link_color;
	background-color: @darken( $invert_accent_color_2, 10% );
	border-color: @darken( $invert_accent_color_2, 10% );
}
.invert .btn-secondary:focus {
	box-shadow: 0 0 10px $invert_accent_color_2;
}