/* #Main Menu */
.main-navigation .menu,
.main-navigation .menu > li > a {
	color: $invert_h3_color;
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-family: @font_family( $h3_font_family );
}
.main-navigation .menu,
.main-navigation .menu a{
	color: $regular_accent_color_1;
}
.main-navigation .menu > li > a:hover,
.main-navigation .menu > li.menu-hover > a,
.main-navigation .menu > li.current_page_item > a,
.main-navigation .menu > li.current_page_ancestor > a,
.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-ancestor > a {
	color: $regular_accent_color_1;
	background: $invert_h3_color;
}

@media (max-width: 767px) {
	.main-navigation .menu > li > a:hover,
	.main-navigation .menu > li.menu-hover > a,
	.main-navigation .menu > li.current_page_item > a,
	.main-navigation .menu > li.current_page_ancestor > a,
	.main-navigation .menu > li.current-menu-item > a,
	.main-navigation .menu > li.current-menu-ancestor > a {
		color: $regular_h3_color;
		background: none;
	}

}


.main-navigation .sub-menu {
	background: $invert_h3_color;
	border: 2px solid $regular_accent_color_1;
	box-sizing: border-box;
}
.main-navigation ul ul a {
	color: $regular_text_color;
}
.main-navigation .sub-menu > li > a:hover,
.main-navigation .sub-menu > li.menu-hover > a,
.main-navigation .sub-menu > li.current_page_item > a,
.main-navigation .sub-menu > li.current_page_ancestor > a,
.main-navigation .sub-menu > li.current-menu-item > a,
.main-navigation .sub-menu > li.current-menu-ancestor > a {
	color: $regular_h3_color;
}
.menu-item__desc {

}

/* #Footer Menu */
.footer-menu__items li.current-menu-item a,
.footer-menu__items li.current_page_item a {
	color: $regular_text_color;
}