/* #ToTop button */
#toTop {
	color: $invert_h3_color;
  background-color: $regular_accent_color_1;
}
#toTop:hover {
	color: $regular_accent_color_1;
	background-color: $regular_h3_color;
}
#toTop:before {
	color: inherit;
}

/* #Page Preloader */
.page-preloader__cube:before {
	background-color: $regular_accent_color_1;
}