/* #Entry Meta */
.post__cats {
	font-family: @font_family( $h3_font_family );
	font-size: 13px;
	font-weight: 300;
}
.post__cats a,
.sticky__label {
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
}
.post__cats a:hover {
	color: $regular_accent_color_1;
	background-color: $regular_h3_color;
}
.entry-meta .material-icons,
.post__tags .material-icons,
.entry-meta .fa,
.post__tags .fa {
	color: @alpha( $regular_accent_color_1, 30 );
}

.invert .post__cats a:hover {
	color: $regular_link_color;
	background-color: $invert_accent_color_1;
}

/* #Post Format */
.format-quote .post-quote {
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
}
.has-thumb .post-thumbnail__format-link,
.post-format-link,
.post-format-link:hover {
	color: $invert_link_color;
	background-color: @alpha( $regular_accent_color_1, 80 );
	font-family: @font_family( $h6_font_family );
	text-decoration: none;
}
.post-format-link {
	font-size: 18px;
}
.post-format-link:hover {
	color: @darken($regular_h6_color, 80);
}
@media (max-width: 567px) {
	.post-format-link {
		font-size: 15px;
	}
}
.has-thumb .post-thumbnail__format-link .post-format-link{
	background: none;
}


/* #Author Bio */
.post-author__holder {
	background-color: $regular_accent_color_3;
	font-size: 18px;
	line-height: 28px;
}
.post-author__title a:hover {
	color: $invert_link_hover_color;
}

.comments-area {
	background-color: $regular_accent_color_3;
}

/* #Comment Reply Link */
#cancel-comment-reply-link {
	color: $regular_accent_color_1;
}
#cancel-comment-reply-link:hover {
	color: $regular_accent_color_2;
}

/*audio player*/
.mejs-container.mejs-audio {
	max-width: 651px ;
	margin-bottom: 10px;
}
.mejs-controls .mejs-time-rail .mejs-time-current {
	background: $regular_accent_color_1 !important;
}