h1, h2, h3, h4, h5, h6 {
	margin: 15px 0;
}



@media (min-width: 991px) {
	p + h1 { margin: -3px 0 29px; }
	p + h2 { margin: 22px 0 22px; }
	p + h3 { margin: 24px 0 14px; }
	p + h4 { margin: 24px 0 15px; }
	p + h5 { margin: 26px 0 14px; }
	p + h6 { margin: 25px 0 15px; }

	h5 + h1 { margin: -8px 0 22px; }

	.entry-content > {
		h1:first-child,
		h2:first-child,
		h3:first-child,
		h4:first-child,
		h5:first-child,
		h6:first-child {
			margin-top: -10px;
		}
	}
}


.site-main {
	h6 {
		& + ul,
		& + ol {
			margin-top: -0.4em;
		}
	}

	ol, ul {
		& + h6 {
			margin-top: 51px;
		}
	}
}