.site-header.centered {
	.site-branding {
		padding: 1px 0 1px;

		order: 1;
		flex: 0 1 100%;
		text-align: left;
		@include media-breakpoint-up(md) {
			padding-top: 8px;
			padding-bottom: 24px;
			order: 0;
			flex: 0 1 100%;
			text-align: center;
		}
	}
	.social-list {
		@include media-breakpoint-up(md) {
			padding-bottom: 36px;
		}
	}
	.main-navigation {
		order: 2;
		flex: 0 1 100%;
		align-self: flex-end;
		@include media-breakpoint-up(md) {
			order: 1;
			flex: 10 1 100%;
		}
		@include media-breakpoint-only(md) {
			order: 3;
			flex: 0 1 100%;
		}


	}
}