.site-header.centered {
	.site-branding {
    padding: 1px 0 1px;

    order: 1;
    flex: 0 1 100%;
    text-align: left;
    @include media-breakpoint-up(md) {
      padding-top: 8px;
      padding-bottom: 24px;
      order: 0;
      flex: 0 1 100%;
      text-align: center;
    }
  }
  .social-list {
    padding: 0 0 15px;

    order: 0;
    flex: 0 1 100%;
    text-align: left;
    position: absolute;
    top: 7px;
    left: 25px;
    width: 200px;
    padding: 15px;
    background: #000;
    opacity: 0;
    visibility: hidden;
    .header-mobilemenu-toggled & {
      transition: 0.6s all ease;
      display: block;
      left: 7px;
      opacity: 1;
      visibility: visible;
    }
    @include media-breakpoint-up(md) {
      position: relative;
      flex: 0 1 100%;
      text-align: right;
      background: none !important;
      display: block;
      opacity: 1;
      visibility: visible;
      padding: 0;
      left: -5px;
      padding-top: 19px;
      padding-bottom: 36px;
      transition: 0s all ease;
    }
  }
  .main-navigation {
    order: 2;
    flex: 0 1 100%;
    align-self: flex-end;
    @include media-breakpoint-up(md) {
      order: 1;
      flex: 10 1 100%;
    }
    @include media-breakpoint-only(md) {
      order: 3;
      flex: 0 1 100%;
    }


  }
}