.top-panel {

	position: relative;
		.header__search {
			position: absolute;
			left: 0;
			right: 0.9375rem;
			@include media-breakpoint-up(lg) {
				right: 2.625rem;
			}
			width: 30px;
			height: 36px;
			top: -1px;
			z-index: 6;
			text-align: right;
			margin: 0 0 0 auto;
			@include transition(.4s ease all);
			.search-form {
				margin: 0;
				width: auto;
				@include transition(.4s ease all);
				visibility: hidden;
				opacity: 0;
				&__submit {
					width: auto;
					padding: 0;
					background: transparent;
					box-shadow: none;
					margin-top: 9px;
					right: 30px;
					@media (max-width: 600px) {

					}
				}
				&__field {
					width: calc(100% - 53px);
					-webkit-appearance: none;
				}
			}

			.search__toggle {
				position: absolute;
				right: 10px;
				top: 11px;
				@include transition(.3s ease all);
				animation: toggle-out 0.5s infinite;
				animation-iteration-count: 1;
				animation-direction: normal;
				@media (max-width: 600px) {
				}
				&:hover {
					opacity: 0.7;
				}
				&::before {
					font-size: 14px;
				}
				&:hover {
					cursor: pointer;
				}
			}
		}

		&.srch-on {
			@media (max-width: 600px) {

			}
			.header__search {
				width: 100%;
				width: 250px;
				.search-form {
					visibility: visible;
					opacity: 1;
					color: #fff;
					background: #000;
				}
			}
			.search__toggle {
				animation: toggle-in 0.5s infinite;
				animation-iteration-count: 1;
				animation-direction: normal;
				&::before {
					content: '\f00d';
				}
			}
		}






	//padding: .3rem $grid-gutter-width*1.4 .3rem;

	@include media-breakpoint-down(md) {
		padding: .3rem 1.7rem .3rem;
	}
	color: #fff;
	text-align: left;
	a {
		color: #fff;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
	.container & {
		padding-right: 0;
		padding-left: 0;
	}
	&__wrap {
		padding: .3rem 2.325rem .3rem;

		&.container {
			position: relative;

			.header__search {
				right: 1em;

				.search__toggle {
					padding: 0 2px;
				}
			}
		}

		&:after {
			display: block;
			clear: both;
			width: 100%;
			content: '';
		}
	}
	&__message {
		// display: none;
		div {
			display: none;
			&.mobile-show {display: block;}
			.mobile-hide {display: none;}
			margin-top: 5px;
			@include media-breakpoint-up(md) {
				display: block;
				margin-top: 0;
			}
		}
		font-size: 12px;


		@include media-breakpoint-up(md) {
			float: left;
			display: flex;
			width: calc(100% - 75px);
			justify-content: space-between;
			font-size: 13px;
			margin-top: 3px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 17px;
		}
		.info-block {
			margin-top: 1em;

			@include media-breakpoint-up(lg) {
				float: left;
				margin-top: 0;
				margin-right: 1.5em;
			}
			&:first-child {
				margin-top: 0;
			}
		}
		.material-icons {
			line-height: 2;
			width: 2em;
			height: 2em;
			margin: 0 1em 0 0;
			text-align: center;
			vertical-align: middle;
			border-radius: 2em;
			background: #fff;

			@include font-size(1);
		}
	}
	&__search {
		text-align: right;

		@include media-breakpoint-up(md) {
			float: right;
			text-align: left;
		}
	}
}