.alignleft {
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
}

.alignright {
	float: right;
	margin-left: 30px;
	margin-bottom: 15px;
}

.aligncenter {
	clear: both;
	@include center-block;
	margin-bottom: 15px;
}


.marTop1 {
  margin-top: 50px;
  @include media-breakpoint-up(lg) {
    margin-top: 106px;
  }
}
.marTop2 {
  @include media-breakpoint-up(lg) {
    margin-top: -10px;
  }
}