.alignleft {
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
}

.alignright {
	float: right;
	margin-left: 30px;
	margin-bottom: 15px;
}

.aligncenter {
	clear: both;
	@include center-block;
	margin-bottom: 15px;
}


.error-404 {
	.page-content {
		@include media-breakpoint-up(lg) {
			padding-bottom: 50px;
		}
		h3 {
			@include media-breakpoint-up(lg) {
				margin-top: -10px;
			}
		}
		h3 + p {
			margin-top: 50px;
			@include media-breakpoint-up(lg) {
				margin-top: 106px;
			}
		}
	}
}