.comments {
	&-area {
		position: relative;
		margin-bottom: 1em;
		@include media-breakpoint-up(lg) {
			margin-bottom: 2em;
		}
	}
	&-title {
		@include media-breakpoint-up(lg) {
			font-size: 20px;
			line-height: 1.4;
			margin-bottom: 1em;
		}
	}
}

.comment {
	&-list {
		margin: 0;
		padding: 0 0 20px;
		list-style: none;
		.children {
			margin-left: 0;
			padding-left: 10px;
			list-style: none;
			border-top: 1px solid $color__background-hr;

			@include media-breakpoint-up(lg) {
				padding-left: 30px;
			}
		}
		> .comment,
		> .ping {
			margin-bottom: 10px;
			padding-right: 10px;
			padding-left: 10px;
			background-color: $color__background-input;

			@include media-breakpoint-up(lg) {
				padding-right: 30px;
				padding-left: 30px;
			}
		}
	}
	&-content {
		a {
			word-wrap: break-word;
		}
	}
	&-body {
		padding-top: 10px;
		padding-bottom: 10px;

		@include media-breakpoint-up(lg) {
			padding-top: 30px;
			padding-bottom: 15px;
		}
		&__holder {
			position: relative;
			padding-right: 18px;
		}
		.avatar {
			float: left;
			width: 40px;
			margin: 0 15px 10px 0;
			border-radius: 50%;

			@include media-breakpoint-up(lg) {
				width: auto;
				margin: 0 30px 15px 0;
			}
		}
		.fn {
			margin-right: 10px;

			@include media-breakpoint-up(lg) {
				margin-right: 25px;
			}
		}
		.reply {
			position: absolute;
			z-index: 9;
			top: 0;
			right: 0;
			transition: all 0.25s ease;
			opacity: .2;
			&:hover {
				opacity: 1;
			}
		}
	}
	&-reply-link {
		font-size: 17px;
		.material-icons {
			font-size: inherit;
		}
	}
	&-date {
		display: inline-block;
		&:before {
			font-size: 17px;
			margin-right: 4px;
			content: '\E878';
			vertical-align: top;
			opacity: .2;

			@include material-icon();
			@include media-breakpoint-up(lg) {
				margin-right: 8px;
			}
		}
		&__time {
			display: inline-block;
			vertical-align: top;
		}
	}
}

.bypostauthor {
	display: block;
}