.share-btns {
	&__list {
		.hentry & {
			float: left;
		}
		.single-post & {
			float: right;
		}
	}
	&__item {
		display: inline-block;
		vertical-align: top;
	}
	&__link {
		display: block;
		text-align: center;
		text-decoration: none;
		margin-right: 10px;
		@include media-breakpoint-up(lg) {
			margin-right: 25px;
		}

		@include font-size(1);
		&:hover {
			opacity: 1;
		}
	}
}