.share-btns {
	&__list {
		.hentry & {
			float: left;
		}
		.single-post & {
			float: right;
		}
	}
	&__item {
		display: inline-block;
		vertical-align: top;
	}
	&__link {
		line-height: 2.5em;
		display: block;
		width: 2.5em;
		height: 2.5em;
		text-align: center;
		text-decoration: none;
		opacity: .3;
		border-radius: 50%;

		@include font-size(1);
		&:hover {
			opacity: 1;
		}
	}
}