.footer-container {
	padding: 25px $grid-gutter-width*1.4;
	.container & {
		padding-right: 0;
		padding-left: 0;
	}
}
.site-info {
	.footer-logo {
		margin: 0;
	}
	.social-list {
		margin: 0;
	}
	&__flex {
		display: flex;
		flex-direction: column;

		flex-wrap: wrap;
		-ms-flex-pack: justify;
		justify-content: space-between;
		align-content: stretch;
		align-items: flex-start;
		@include media-breakpoint-up(md) {
			flex-direction: row;
		}
		.footer-logo {
			flex: 0 1 auto;
			align-self: center;
		}
		.social-list {
			flex: 0 1 auto;
			align-self: center;
			@include media-breakpoint-up(md) {

			}
		}
		.site-info__mid-box {
			text-align: center;

			flex: 0 1 auto;
			align-self: center;
			@include media-breakpoint-up(md) {

			}
		}
	}
}


.site-footer .footer-area-wrap {
	padding: 0 $grid-gutter-width*1.4;
}



.footer-area.widget-area {
	line-height: 24px;
	padding: 78px 0 30px;

	.widget_text {
		line-height: 24px;

		ul {
			display: inline-block;
			margin-top: -5px;
			line-height: 35px;
			li {
				i {
					font-size: 13px;
					color: #fff;
					min-width: 31px;
					display: inline-block;
				}
				margin-left: 0;
				margin-top: 0;
				display: block;

			}
		}
	}

	@include media-breakpoint-up(lg) {
		.widget-title {
			font-size: 34px;
			margin-bottom: 0.8em;
		}
	}

	ul.menu {
		li {
			margin-top: .6em;
			margin-left: 0;
			li { margin-left: 1em; }
			&:before {
				display: none;
			}
		}
	}
}

@import "footer/layout-default";
@import "footer/layout-centered";
@import "footer/layout-minimal";