.header-container {
	padding: 0.8rem 2.325rem 25px;

	@include media-breakpoint-down(md) {
		padding: 1.5rem 1.7rem 25px
	}

	.site-branding,
	.social-list.social-list--header.social-list--icon {
		transition: .4s all ease;
	}

	@include media-breakpoint-up(md) {
		&.isStuck {
			position: fixed;
			z-index: 1000;
			right: 0;
			left: 0;
			padding: 15px 2.325rem 15px;


			.site-branding,
			.social-list.social-list--header.social-list--icon {
				height: 0;
				opacity: 0;
				visibility: hidden;
				padding: 0 !important;
				width: 1px;
			}
		}
	}


	.container & {
		padding-right: 0;
		padding-left: 0;
	}
}

@include media-breakpoint-down(sm) {
	.header-container.stuckMenu.isStuck {
		position: relative !important;
		top: 0 !important;
	}
}


@import "header/layout-default";
@import "header/layout-centered";
@import "header/layout-minimal";
@import "header/top-panel";
@import "header/logo";