.header-container {
	padding: 0.8rem 2.325rem 25px;

	@include media-breakpoint-down(md) {
		padding: 1.5rem 1.7rem 25px
	}

	.site-branding,
	.social-list.social-list--header.social-list--icon {
		transition: .4s all ease;
	}

	@include media-breakpoint-up(md) {
		&.isStuck {
			position: fixed;
			z-index: 1000;
			right: 0;
			left: 0;
			padding: 15px 2.325rem 15px;


			.site-branding,
			.social-list.social-list--header.social-list--icon {
				height: 0;
				opacity: 0;
				visibility: hidden;
				padding: 0 !important;
				width: 1px;
			}
		}
	}


	.container & {
		padding-right: 0;
		padding-left: 0;
	}
}

@include media-breakpoint-down(sm) {
	.header-container.stuckMenu.isStuck {
		position: relative !important;
		top: 0 !important;
	}
}

.site-header {
	.social-list {
		padding: 0 0 15px;

		order: 0;
		flex: 0 1 100%;
		text-align: left;
		position: absolute;
		top: 7px;
		left: 25px;
		width: 200px;
		padding: 15px;
		background: #000;
		opacity: 0;
		visibility: hidden;
		.header-mobilemenu-toggled & {
			transition: 0.6s all ease;
			display: block;
			left: 7px;
			opacity: 1;
			visibility: visible;
		}
		@include media-breakpoint-up(md) {
			position: relative;
			flex: 0 1 100%;
			text-align: right;
			background: none !important;
			display: block;
			opacity: 1;
			visibility: visible;
			padding: 0;
			left: -5px;
			padding-bottom: 26px;
			transition: 0s all ease;
		}
	}
}


@import "header/layout-default";
@import "header/layout-centered";
@import "header/layout-minimal";
@import "header/top-panel";
@import "header/logo";