.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0 0;
}

.card-columns {
	padding-top: 3em;
}

/*--------------------------------------------------------------
### Hentry (WordPress native CSS-class for post/page article)
--------------------------------------------------------------*/
.hentry {
	position: relative;
	margin-top: 3em;
	// margin-top: -1.3em;

	@include card;
	&:last-child {
		.posts-list & {
			margin-bottom: 3em;
		}
	}
	.card-columns & {
		margin-top: 0;
		margin-bottom: 3em;
	}
	&.page {
		margin-bottom: 1em;

		@include media-breakpoint-up(lg) {
			margin-bottom: 2em;
		}
	}
}

/*--------------------------------------------------------------
### Entry (header, content, footer)
--------------------------------------------------------------*/
.entry {
	&-title {
		font-size: 20px;
		&:first-child {
			.entry-header & {
				margin-top: 0;
			}
		}
		.posts-list--default & {
			@include media-breakpoint-up(lg) {
				font-size: 30px;
			}
		}
	}
	&-meta {
		.entry-summary + &,
		.entry-content + & {
			margin-top: 1em;
		}
	}
	&-summary,
	&-content {
		.posts-list & {
			display: none;

			@include media-breakpoint-up(md) {
				display: block;
			}
		}
		.post-list__item & {
			margin-top: 0;
			p {
				margin: 1em 0 0;
			}
		}
	}
	&-footer {
		position: relative;
		margin-top: 1em;
		.btn {
			float: right;
		}
	}
}

/*--------------------------------------------------------------
### Post attributes (thumbnail, meta)
--------------------------------------------------------------*/
.post {
	&-thumbnail {
		&__link {
			&.post-thumbnail--small {
				display: block;
				margin-bottom: 15px;
				text-align: center;

				@include media-breakpoint-up(lg) {
					float: left;
					margin-right: 30px;
					text-align: left;
				}
			}
		}
		&__img {
			display: inline-block;
			vertical-align: top;
			.entry-header + .post-thumbnail > & {
				margin-top: 25px;
			}
		}
		&--fullwidth {
			.posts-list & {
				display: block;
				margin-bottom: 1em;

				@include media-breakpoint-up(lg) {
					margin-bottom: 1.5em;
				}
			}
		}
	}
	&__cats {
		a {
			line-height: 22px;
			display: inline-block;
			margin: 0 0 3px 0;
			padding: 0 6px;
			vertical-align: top;
			text-decoration: none;
		}
		.post-thumbnail--fullwidth + & {
			.has-post-thumbnail & {
				position: absolute;
				z-index: 99;
				top: 10px;
				left: 10px;

				@include media-breakpoint-up(lg) {
					top: 30px;
				}
			}
		}
		.post-format-wrap & {
			position: absolute;
			z-index: 99;
			top: 10px;
			left: 10px;

			@include media-breakpoint-up(lg) {
				top: 30px;
				left: 30px;
			}
		}
	}
	&__date,
	&__comments,
	&__tags {
		.material-icons,
		.fa {
			font-size: 16px;
			margin-right: 10px;
			vertical-align: middle;
			.invert & {
				color: inherit;
			}
		}
		a {
			text-decoration: none;
		}
	}
	&__date,
	&__comments {
		margin-right: 15px;
		.single & {
			margin-right: 0;
			margin-left: 15px;
		}
	}
	&__tags {
		margin-top: .5em;
		.single-post & {
			margin-top: 0;

			@include media-breakpoint-up(sm) {
				float: left;
			}
		}
	}
	&ed-by__author {
		&:hover {
			text-decoration: underline;
		}
	}
}

/*--------------------------------------------------------------
### Read More button
--------------------------------------------------------------*/
.btn {
	.posts-list__item & {
		padding: 0;
		&__text {
			display: inline-block;
		}
		&__icon,
		.material-icons,
		.fa {
			line-height: 46px;
			width: 46px;
			height: 46px;
			color: inherit;
			display: none;
		}
	}
	.posts-list__item & {
		.posts-list--default:not(.two-sidebars) & {
			@include media-breakpoint-up(lg) {
				// padding: $button__indents;
			}
			&__text {
				@include media-breakpoint-up(lg) {
					display: inline-block
				}
			}
			&__icon,
			.material-icons,
			.fa {
				@include media-breakpoint-up(lg) {
					display: none;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
### Sticky Post
--------------------------------------------------------------*/
@import "sticky";