#page #tm_builder_outer_content {

	.tm_pb_toggle_title:before {
		content: '\f078';
	}
	.tm_pb_toggle.tm_pb_toggle_close .tm_pb_toggle_title:before {
		content: '\f054';
	}
	.tm_pb_toggle_title {
			transition: .4s all ease;
			font-size: 24px;
			padding-left: 32px;
			margin: 0;
			&:before {
				font-size: 18px;
				left: 0;
			}
	}


/* toggle */
	.tm_pb_toggle {
		margin-top: 0px;
		background: none;
		border: none;
		border-bottom: 2px solid $color__background-hr;
		padding: 27px 20px 27px 0;

		.tm_pb_toggle_content {
			padding-top: 26px;
		}

		p {
			font-weight: 300;
			line-height: 28px;
			span {
				line-height: 36px;
				font-weight: 400;
			}
		}
	}


/* accordion */
	.tm_pb_module.tm_pb_accordion {
		margin-top: 30px;

		.tm_pb_toggle {
			margin-top: 0px;
			background: none;
			border: none;
			padding: 7px 20px 7px 0;
		}

		.tm_pb_toggle_title {
			padding-left: 0;
			padding-right: 32px;
			&:before {
				left: auto;
				right: 20px;
			}
			@include media-breakpoint-up(lg) {
				font-size: 28px;
			}
		}

		.tm_pb_toggle_content {
			padding-top: 0;
			padding-left: 30px;
			h5 {
				font-size: 24px;
				display: flex;
				justify-content: space-between;
			}
			ul {
				li {
					list-style: none;
					overflow: hidden;
					padding: 7px 0;
					border-bottom: 1px solid $color__background-hr;
					display: flex;
					justify-content: space-between;
					span {
						margin-right: 17px;
						margin-left: 10px;
					}
				}
			}
			p{
				margin-bottom: 0;
			}
		}
	}
}


.bot-line {
	padding-bottom: 2px;
	border-bottom: 2px solid $color__background-hr;

	h5 {
		margin-bottom: 24px;
	}
}