.tm_pb_builder  #tm_builder_outer_content {
  .tm_pb_promo {
    text-align: center;
    padding: 36px 30px 47px;

    .tm_pb_promo_description {
      padding-bottom: 17px;
    }

    h2 {
      margin-bottom: 26px;
    }

    h2 + h4 {
      margin-top: 39px;
      margin-bottom: 30px;
      font-weight: 300;
    }

  }
}