

#tm_builder_outer_content .tm_pb_contact_form_container {

  &.custom-form {
    .tm_pb_contact_main_title {
      font-size: 30px;
      font-weight: 400;
      text-align: left;
      margin-top: 6px;
      margin-bottom: 33px;
    }
    //TODO
    .tm_pb_contact_right {
      display: none;
    }
    .tm_pb_contact_form .tm_contact_bottom_container {
      text-align: left;
      margin-top: 5px;
    }
  }

  .tm_pb_contact_main_title {
    font-size: 28px;
    margin-bottom: 9px;
  }

  .tm_pb_contact_field {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: auto;
    }
  }

  .tm-pb-contact-message {
    ul li {
      color: red;
      &::before{
        display: none;
      }
    }
    margin-bottom: 25px;
  }

  .tm_pb_contact_form {
    .tm_pb_contact_form_input {
      padding: 8px 21px 9px;
      margin: 0 0 6px 0;
    }
    .tm_pb_contact_form_label {
      margin-bottom: 12px;
      display: block;
    }
    .tm_pb_contact_message {
      min-height: 175px;
    }

    .tm_contact_bottom_container {
      float: none;
      overflow: visible;
      margin-top: 26px;


      .tm_pb_contact_submit {
        color: #fff;
        @extend .btn;
      }
    }
  }
}

