#tm_builder_outer_content {
	hr.tm_pb_divider {
		width: 100%;
		box-sizing: initial;

		&.divider-full-width {
			margin-left: -15px;
			margin-right: -15px;
		}
	}



	.vertical-line {
		position: relative;
		&:after {
			position: absolute;
			display: inline-block;
			content: '';
			left: -15px;
			right: -15px;
			top: auto;
			bottom: -10px;
			height: 1px !important;
			background: #fff;
			visibility: visible !important;
			z-index: 1;

			@include media-breakpoint-up(md) {
				width: 1px;
				left: auto;
				height: auto  !important;
				right: -15px;
				top: 0;
				bottom: -100px;
				background: $color__background-hr2;
			}

		}
	}

	.vertical-line-2cols {
		.vertical-line {

			&:after {
				background: #fff;
				@include media-breakpoint-up(sm) {
					width: 1px;
					left: auto;
					height: auto  !important;
					right: -15px;
					top: 0;
					bottom: -100px;
					background: $color__background-hr2;
				}

			}
		}
	}

	.vertical-line-4cols {
		.vertical-line {

			&:after {
				@include media-breakpoint-only(md) {
					display: none;
				}
				@include media-breakpoint-only(sm) {
					display: none;
				}

			}
		}
	}



	.image-vlines {
		.tm_pb_image {
			margin: 15px 0;
			@include media-breakpoint-up(lg) {
				margin: 44px 0;
			}
		}
		@include media-breakpoint-up(lg) {
			& > div + div {
				position: relative;
				&:after {
					position: absolute;
					display: inline-block;
					content: '';
					width: 1px;
					left: 0;
					top: 0;
					bottom: 0;
					background: $color__background-hr;
				}
			}
		}
	}


	.section-overflow-hidden {
		overflow: hidden;
		.vertical-line:before {
			@include media-breakpoint-up(sm) {
				top: -300px;
				bottom: -300px;
			}
		}
	}
}