#tm_builder_outer_content {
	.tm_pb_column {
		.tm_pb_module.tm_pb_pricing {
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			.tm_pb_pricing_table {
				margin-top: 0;
				margin-bottom: 0;
				width: 100%;
				@include media-breakpoint-up(lg) {
					width: 30%;
					margin-bottom: 21px;
					margin-top: 21px;
				}

				&.tm_pb_featured_table {
					@include media-breakpoint-up(lg) {
						width: 40%;
					}
					margin-top: 0;
					margin-bottom: 0;
					.tm_pb_pricing_heading {
						display: flex;
						flex-wrap: wrap;
						padding-top: 25px;
						.tm_pb_pricing_title {
							flex: 1 1 100%;
							order: 2;
						}
						.tm_pb_best_value {
							flex: 1 1 100%;
							order: 1;
						}
					}
					.tm_pb_pricing_content_top {
						.tm_pb_frequency {
							color: #fff !important;
						}
					}

					.tm_pb_pricing_content .tm_pb_pricing li::before {
						background: #fff;
					}

					.tm_pb_pricing_table_button {
						color: #fff;
						border: 2px solid #fff;
						&:hover {
							color: #fff;
						}
					}
				}
			}

			.tm_pb_pricing_heading {
				padding-top: 35px;
				padding-bottom: 30px;
				margin: 0;
				.tm_pb_pricing_title {
					font-weight: 400;
					margin: 0;
					padding: 0 7px;
				}
			}

			.tm_pb_pricing_content_top {
				position: relative;
				padding-bottom: 23px;
				.tm_pb_dollar_sign {
					position: relative;
					margin: 0;
					font-weight: 800;
				}

				.tm_pb_sum {
					font-weight: 800;
				}

				.tm_pb_frequency {
					font-size: 20px;
					font-style: italic;
					margin-left: 3px;
					position: absolute;
					bottom: 30px;
				}
			}

			.tm_pb_pricing_content {
				padding: 20px 25px;
				.tm_pb_pricing {
					text-align: center;
					li {
						padding: 0;
						line-height: 24px !important;
						&::before {
							display: none;
						}
					}
					li + li {
						margin-top: 20px;
					}
				}
			}

			.tm_pb_pricing_table_button {
				margin: 0 30px;
				@include media-breakpoint-only(lg){
					margin:0 5px;
				}
			}

			&.custom-table {
				.tm_pb_featured_table {
					padding-bottom: 100px;

					.tm_pb_pricing_title {
						line-height: 0.85;
						margin-bottom: 7px;
					}

					.tm_pb_pricing_table_button {
						margin-top: 0;
					}

					.tm_pb_pricing_content_top {
						padding-bottom: 20px;
					}
				}

				.tm_pb_pricing_content_top {
					.tm_pb_frequency {
						position: relative;
						bottom: auto;
					}
				}

				.tm_pb_pricing_content {
					padding: 25px 35px 13px 10px;
				}

				.tm_pb_pricing_table_button {
					padding: 15px 75px;
					&:hover {
						padding: 15px 75px;
					}
				}

				.tm_pb_pricing_table_button {
					margin-top: 10px;
				}

				.tm_pb_best_value {
					margin-bottom: 5px;
				}
			}
		}
	}
}