#page #tm_builder_outer_content {
  .tm_pb_module.tm_pb_tabs {
    p {
      font-weight: 300;
      line-height: 28px;
      span {
        line-height: 34px;
        font-weight: 400;
      }
    }
    .tm_pb_tabs_controls {
      text-align: left;
      border-color: $color__background-hr;
      @include media-breakpoint-down(lg) {
        border: none;
      }
      font-weight: 400;
      li {
        padding: 9px 20px 9px 0;
        @include media-breakpoint-up(xl) {
          padding: 9px 55px 15px 0;
        }
        position: relative;
        font-size: 21px;
        @include media-breakpoint-up(lg) {
          font-size: 24px;
        }
        &::before {
          content: '';
          height: 2px;
          width: auto;
          position: absolute;
          bottom: -2px;
          left: 0;
          right: 0;
          border-radius: 0;
          top: auto;
          @include translate(0, 0);
          @include transition(.5s ease all);
          @include scale(0);
          opacity: 0;
        }

        &:hover::before {
          @include scale(1);
          opacity: 1;
        }

        &.tm_pb_tab_active {
          bottom: 0;
          &::before {
            @include scale(1);
            opacity: 1;
          }
        }

        &:last-child {
          padding-right: 5px;
        }

      }
    }

    .tm_pb_all_tabs {
      padding: 20px 0 1px;
    }

  }
}