#page #tm_builder_outer_content {

	.tm_pb_column:not(.tm_pb_column_4_4) {
		.tm_pb_testimonial {
			padding: 54px 15px 32px;
			@include media-breakpoint-up(lg) {
				padding: 54px 40px 32px;
			}
			text-align: center;
			.tm_pb_testimonial_portrait {
				float: none;
				display: inline-block;
				margin-right: 0;
			}
			.tm_pb_testimonial_author {
				margin-top: 14px;
			}
		}
	}

	.tm_pb_testimonial {
		text-align: center;
		@include media-breakpoint-up(sm) {
				text-align: left;
			}
		padding: 31px 26px 17px;

		&.tm_pb_icon_off:before {
			display: inline-block !important;
			content: '';
		}
		.tm_pb_testimonial_portrait {
			margin-right: 38px;
		}


		.tm_pb_testimonial_author {
			font-weight: 400;
			margin-top: 0;
			@include media-breakpoint-up(sm) {
				margin-top: -8px;
			}
			margin-bottom: 22px;
		}

		p {
			font-weight: 300;
		}



		.tm_pb_testimonial_description {
			//display: block;

			.tm_pb_testimonial_description_inner {
				width: 100% !important;
				display: flex;
				flex-direction: column;

				.tm_pb_testimonial_author {
					order: -1;
				}
			}
		}


		@include media-breakpoint-down(xs) {
			.tm_pb_testimonial {
				padding: 54px 15px 32px;
				@include media-breakpoint-up(lg) {
					padding: 54px 40px 32px;
				}
				text-align: center;
				.tm_pb_testimonial_portrait {
					float: none;
					display: inline-block;
					margin-right: 0;
				}
			}
		}


	}



}