// Options
$enable-rounded: true !default;



$border__radius: 17px;
$box__shadow: 0 5px 32px rgba(103,122,141,.17);
$box__shadow_mobile: 0 3px 15px rgba(103,122,141,.17);

$size__site-main: 100%;
$size__site-sidebar: 25%;

$input__indents: 9px 20px;

$button__indents: 8px 50px;
$button__border-radius: 30px;
$button__border: 2px solid;
$button__box-shadow: none;

$embed__ratio: 62.33%;  //  thumbnail height / thumbnail width