.container {
	&.site-header,
	&.site-footer {
		@include reset-container();
	}
	&.site-content {
		.container {
			@include reset-container();
		}
	}
}

.position-two-sidebars {
	#primary {
		order: 0;
	}
	#sidebar-primary {
		order: 1;
	}
	#sidebar-secondary {
		order: 2;
	}
	@include media-breakpoint-up(md) {
		#primary {
			order: 1;
		}
		#sidebar-primary {
			order: 2;
		}
		#sidebar-secondary {
			order: 0;
		}
	}
}

body.content-layout-fullwidth .site-content_wrap {
	margin: 0 15px;
	@include media-breakpoint-up(md) {
		margin: 0 30px;
	}
	.tm_builder_outer_content {
		.tm_pb_with_background,
		.tm_pb_slider {
			margin: 0 -15px;
			@include media-breakpoint-up(md) {
				margin: 0 -30px;
			}
		}
	}
}