.widget-subscribe {
	background: #f4f4f4;
}
.follow-block {
	padding: 25px 14px;
	@include media-breakpoint-up(lg) {
		padding: 45px 24px 45px;
	}
	background: rgba(#fff, 0.4);
	.sidebar-primary &,
	.sidebar-secondary &,
	.footer-area & {
		text-align: center;
	}

	.social-list {
		margin-top: 30px;
		.menu-item {margin: 0;}
		.menu-item > a::before {
			font-size: 25px;
			color: #000;
			width: 32px;
			height: 32px;
			line-height: 32px;
			border-radius: 50%;
		}
	}
}
.subscribe-block {
	padding: 25px 14px;
	@include media-breakpoint-up(lg) {
		padding: 45px 24px 51px;
	}
	.widget-title {
		@include media-breakpoint-up(xl) {
			.sidebar-primary &,
			.sidebar-secondary & {
				max-width: 70%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	&__messages {
		font-size: 14px;
		margin-top: 3px;
		text-indent: 10px;
	}
	&__form {
		margin-top: 35px;
	}
	.sidebar-primary &,
	.sidebar-secondary &,
	.footer-area & {
		text-align: center;
	}
	.follow-block + & {
		padding: 10px 0;

		@include media-breakpoint-up(lg) {
			padding: 20px 0;
		}
		.footer-area & {

		}
	}
	&__input-group {
		.sidebar-primary &,
		.sidebar-secondary &,
		.footer-area & {
			justify-content: center;
		}
	}
	&__input[type='email'] {
		max-width: 100%;
		width: 100%;
		order: 0;
		flex: 1 1 0;
		align-self: auto;
		@include media-breakpoint-up(xl) {
			max-width: 100%;
		}
		.footer-area & {
			&:focus {
				background: #fff;
				box-shadow: none;
			}
		}
		.sidebar-1-4 & {
			max-width: 100%;
		}
	}
	&__submit {
		max-width: 100%;
		width: 100%;
		padding-right: 20px;
		padding-left: 20px;
		margin-top: 10px;

		order: 0;
		flex: 0 1 auto;
		align-self: auto;
		&:after {
			content: "\f0da";
			@include font-awesome-icon();
			@include font-size(1);
			font-size: 10px;
			line-height: 25px;
			padding-left: 5px;
		}

		.footer-area & {

			&:after {
				display: inline-block;
			}
		}
	}
	&__message {
		padding: 0 0 15px;
		.footer-area & {
			padding-bottom: 20px;
		}
	}
}




#tm_builder_outer_content .tm_pb_widget_area {
	.widget-subscribe {
		text-align: center;
		padding: 10px 10px 10px;


		.subscribe-block {

			@include media-breakpoint-up(lg) {
				padding: 35px 24px 51px;
			}

			&__messages {
				text-align: left;
			}

			&__form {
				margin-top: 0;
				@include media-breakpoint-up(md) {
					max-width: 530px;
					margin: 0 auto;
				}
			}

			&__input {
				width: 360px;
				margin-right: 10px;
				font-style: italic;
			}

			&__submit {
				width: auto;
				min-width: 155px;
				padding-top: 7px;
				padding-bottom: 7px;
				@include media-breakpoint-up(md) {
					margin-top: 0;
				}
			}

			&__message {
				font-size: 17px;
				opacity: 0.7;
				padding-bottom: 36px;
			}

			.widget-title {
				@include media-breakpoint-up(lg) {
					font-size: 44px;
					margin-bottom: 14px;
				}
			}

		}

		.follow-block {
			background: none;
			padding: 14px 24px 26px;

			.widget-title {
				@include media-breakpoint-up(lg) {
					font-size: 24px;
				}
			}
		}


	}
}