html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

blockquote, q {
	quotes: none;

	&:before,
	&:after {
		content: '';
	}
}

blockquote {
	position: relative;
	margin: 0 0 1em;
	padding: 1em 1em 1em 3em;
	@include media-breakpoint-up(lg) {
		padding: 1em 1.5em 1em 5.6em;
	}
	p {
		margin: 0;
		& + p {
			margin-top: 1em;
		}
	}
	cite {
		display: block;
		margin-top: 1.3em;
		&:before {
			// content: "- ";
		}
	}
	&:before {
		content: "\f10d";
		@include font-awesome-icon();

		position: absolute;
		font-size: 1.7em;
		top: 22px;
		left: 14px;
		@include media-breakpoint-up(lg) {
			font-size: 50px;
			left: 40px;
			top: 22px;
		}
	}

	p + & {
		margin-top: 1.8em;
	}
	& + p {
		margin-top: 1.8em;
	}

}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin: 1.5em 0;
}




/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
@import "lists";

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
@import "tables";

/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
@import "page-preloader";

/*--------------------------------------------------------------
## ToTop button
--------------------------------------------------------------*/
@import "totop-button";
