#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: -999em;
	overflow: hidden;
	width: 55px;
	height: 55px;
	z-index: 999;
	text-align: center;
	background-color: #000;
	border-radius: 50%;
	&:before{
		@include font-awesome-icon();
		width: 100%;
		font-size: 12px;
		line-height: 55px;
		content: "\f0d8";
		color: #fff;
	}
	&:focus {
		outline: none;
	}
	@include media-breakpoint-up(sm) {
		right: 20px;
	}
	@include media-breakpoint-up(md) {
		bottom: 80px;
	}
}