.comment {
	&-respond {
	}
	&-reply-title {
		@include media-breakpoint-up(lg) {
			font-size: 20px;
			line-height: 1.4;
			margin-bottom: 15px;
		}
	}
	&-form {
		&-comment,
		&-author,
		&-email,
		&-url {
			margin: 1em 0 0 0;
		}
		.form-submit {
			margin: 1em 0 0 0;
		}
		&__field {
			width: 100%;
			vertical-align: top;
			.comment-list & {
				background-color: #fff;
			}
		}
		.logged-in-as,
		.comment-notes {
			margin: 1em 0;
		}
		.comment-list & {
			padding-bottom: 2em;
		}
	}
}
#cancel-comment-reply-link {
	@include font-size(0.75);
}