.search-form {
	position: relative;
	.widget-title + & {
		@include media-breakpoint-up(lg) {
			margin-top: 35px;
			margin-bottom: 50px;
		}
	}
	margin: 0;
	padding: 0;
	.top-panel & {
		display: inline-block;
		vertical-align: top;

		@include media-breakpoint-up(md) {
			display: block;
		}
	}
	&:after {
		display: block;
		clear: both;
		width: 100%;
		content: '';
	}
	&__field[type='search'] {
		float: left;
		box-sizing: border-box;
		width: 100%;
		@include media-breakpoint-up(xl) {
			width: calc(100% - 80px);
		}
		padding-right: 35px;
		.top-panel & {
			width: 150px;
			height: 40px;
			padding: 5px 10px;
			line-height: 30px;
			color: #fff;
			border: none;
			background: none;

			&::-webkit-input-placeholder {color:#fff;}
			&::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
			&:-moz-placeholder           {color:#fff;}/* Firefox 18- */
			&:-ms-input-placeholder      {color:#fff;}

			&:focus {
				box-shadow: none;
			}
		}
	}
	&__submit {
		width: 30px;
		padding-right: 0;
		padding-left: 0;
		border: none;
		position: absolute;
		.site-footer &.btn.btn-primary,
		.site-content &.btn.btn-primary {
			top: 3px;
			right: 13px;
			@include media-breakpoint-up(xl) {
				right: 93px;
			}
			background: none;
			color: #000;
			&:hover {
				opacity: 0.5;
			}
		}

		&:after {
			content: "\f002";
			@include font-awesome-icon();
			@include font-size(1);
			font-size: 14px;
			line-height: 25px;
			padding-left: 5px;
		}

		i.material-icons {
			line-height: 20px;
			display: block;
			height: 20px;
			margin: 0 auto;

			@include font-size(1.5);
		}
		.top-panel & {
			width: 30px;
			padding: 5px 0;
			background-color: transparent;
			&:hover {
				background: none;
			}
			&:active,
			&:focus,
			&:hover {
				box-shadow: none;
			}
		}
	}
}