.share-btns__link{
	color: $regular_accent_color_1;
}

.share-btns__link:hover,
.share-btns__link:active,
.share-btns__link:visited{
	color:$regular_link_hover_color;
}

.share-btns__link:hover {
	background: $regular_accent_color_3;
}


.social-list--footer li > a:hover { color: $invert_link_color; }
.social-list--footer li > a:hover::before { background-color: @alpha( $invert_link_color, 10 ); }